.square{
	height: 500px;
	width: 300px;
}

#topblue{
	background: blue;
}

#bottomblue{
	background: blue;
	margin-top: 20px;
}

#green{
	background: green;
	height: 480px;
	width: 290px;
	margin-top: -1010px;
	margin-left: 150px;
}

#lightpink{
	background: pink;
	height: 200px;
	width: 280px;
	margin-top: 40px;
	margin-left: 10px;
}

#onepink{
	background: hotpink;
	height: 60px;
	width: 60px;
	margin-top: -195px;
	margin-left: 15px;
}

#twopink{
	background: hotpink;
	height: 60px;
	width: 60px;
	margin-top: -65px;
	margin-left: 85px;
}

#threepink{
	background: hotpink;
	height: 60px;
	width: 60px;
	margin-top: -55px;
	margin-left: 155px;
}

#fourpink{
	background: hotpink;
	height: 60px;
	width: 60px;
	margin-top: 10px;
	margin-left: 155px;
}

#fivepink{
	background: hotpink;
	height: 60px;
	width: 60px;
	margin-top: -60px;
	margin-left: 85px;
}

#sixpink{
	background: hotpink;
	height: 60px;
	width: 60px;
	margin-top: -60px;
	margin-left: 15px;
}