.boxone {
	position: absolute;
	width: 500px;
	height: 500px;
	background-image: url("https://media.giphy.com/media/S8LNQxARJmm6Q/giphy.gif");
	background-repeat: no-repeat;
	background-size: 350%;
	background-position: center;

}

.boxtwo {
	position: absolute;
	width: 100px;
	height: 100px;
	background-image: url("https://media.giphy.com/media/scZrdaCeXFCWQ/giphy.gif");
	background-size: 200%;
	background-repeat: no-repeat;
	background-position: center;
	margin-left: 400px;
}