.boxone {
	position: absolute;
	width: 500px;
	height: 500px;
	background-image: url("https://45.media.tumblr.com/a45ff55802b7fdd8a4341e080ee742d5/tumblr_n08oyn7qHe1rf78nfo1_400.gif");
	background-repeat: no-repeat;
	background-size: 350%;
	background-position: center;

}

.boxtwo {
	position: absolute;
	width: 100px;
	height: 100px;
	background-image: url("https://media.giphy.com/media/AHWrFE8gRUKQw/giphy.gif");
	background-size: 300%;
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 200px;
	margin-left: 200px;
	
}